
.row{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;   
    padding: 10px;
}
.row > h2{
    margin-left: 20px;
}

.row_posters{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 200px;
   overflow-y: hidden;
   margin-top: 20px;
   ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */

}
.row_posters::-webkit-scrollbar{
    display: none;
}
.row_poster{

    max-height: 200px;
    margin-left: 20px;
    object-fit: contain;
    transition: transform 450ms;
  
    
}
.row_poster:hover{
    transform: scale(1.08);
    opacity: 1;
    
}

